<div class="bienes-container">
    <div class="filters-container">
      <h2>BUSCAR BIENES</h2>
  
      <div class="search-controls">
      

        <input type="date" class="input-field" [(ngModel)]="fechaSeleccionada" (change)="onFechaSeleccionadaChange()" />
  
  
        <!-- Campo de búsqueda para nombre o descripción del bien -->
        <input type="text" id="codigoInput" placeholder="Ingrese el código del bien o nombre/descripción" 
               class="input-field" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" />
    
        <!-- Campo de búsqueda manual para la categoría -->
        <input *ngIf="manualCategoria" type="text" placeholder="Escriba la categoría" 
               class="input-field" [(ngModel)]="categoriaManual" (input)="onCategoriaManualChange()" />
    
        <!-- Select para categoría, sólo si no es manual -->
  
        <input type="text" placeholder="Última Ubicación" class="input-field" [(ngModel)]="ubicacionTerm" (input)="onUbicacionChange()" />
          
        <!-- Nuevo campo de búsqueda para Último Ambiente -->
        <input type="text" placeholder="Último Ambiente" class="input-field" [(ngModel)]="ambienteTerm" (input)="onAmbienteChange()" />
    
        <div *ngIf="!manualCategoria">
          <select id="categoriaSelect" class="input-field" (change)="onCategoriaChange($event)">
            <option value="">Todas las Categorías</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.NOMBRE_CATEGORIA }}</option>
          </select>
        </div>
        <!-- Botón para alternar entre select e input manual -->
        <button (click)="toggleManualCategoria()" class="btn btn-search">Búsqueda Manual</button>
  
        <!-- Filtros dinámicos según la categoría seleccionada -->
        <div *ngIf="selectedCategoria" class="dynamic-filters">
          <input *ngIf="selectedCategoria.MODELO" type="text" placeholder="Modelo" class="input-field" />
          <input *ngIf="selectedCategoria.TIPO" type="text" placeholder="Tipo" class="input-field" />
          <input *ngIf="selectedCategoria.COLOR" type="text" placeholder="Color" class="input-field" />
          <input *ngIf="selectedCategoria.DIMENSION" type="text" placeholder="Dimensión" class="input-field" />
            
        </div>
      </div>
    </div>
  
    <!-- Grid de Bienes -->
    <div class="tabla-contenedor">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Usuario</th>
            <th scope="col">Estado Actual</th> <!-- Nueva columna -->
            <th scope="col">Ubicación Actual</th> <!-- Nueva columna -->
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bien of bienesFiltrados">
            <td>{{ bien.codigo }}</td>
            <td>
              <span *ngIf="bien.MODELO">Modelo: {{ bien.MODELO }}</span><br>
              <span *ngIf="bien.NUMERO_SERIE">N° Serie: {{ bien.NUMERO_SERIE }}</span><br>
              <span *ngIf="bien.TIPO">Tipo: {{ bien.TIPO }}</span><br>
              <span *ngIf="bien.COLOR">Color: {{ bien.COLOR }}</span>
              <span *ngIf="bien.DESCRIPCION">Otros: {{ bien.DESCRIPCION }}</span><br>
              <span *ngIf="bien.DIMENSION">Dimensión: {{ bien.DIMENSION }}</span><br>

  
            </td>
                      <td>{{ bien.categoria.NOMBRE_CATEGORIA }}</td>
            <td>{{ getUsuarioEnFecha(bien) }}</td>
            <td>{{ getEstadoEnFecha(bien) }}</td>
            <td>{{ getUbicacionEnFecha(bien) }}</td>
            
            <td>
              <div class="action-buttons">
                <button class="btn btn-primary" [routerLink]="['/verbien', bien.id]">Ver Bien</button>
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
