<div class="view-actions" *ngIf="bien">
  <button type="button" class="btn btn-dark" routerLink="/bienes">Volver</button>
</div>

 <div nz-col nzFlex="auto" [nzXs]="{ span: 11 }" [nzLg]="{ span: 11 }" class="movimientos-column">
    <div class="movimientos-column">
      <h3 *ngIf="!showAgregarMovimiento">Historial de Movimientos</h3>
      <h3 *ngIf="showAgregarMovimiento">Agregar Movimiento</h3>
      <div *ngIf="!showAgregarMovimiento">
        <div *ngIf="movimientos && movimientos.length > 0; else noMovimientos">
          <div class="tabla-contenedor">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Fecha de Modificación</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Ubicación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movimiento of movimientos">
                  <td>{{ movimiento.FECHA_MODIFICACION | date }}</td>
                  <td>{{ movimiento.ESTADO }}</td>
                  <td>{{ movimiento.ambiente?.ubicacion?.NOMBRE }} - {{ movimiento.ambiente?.NOMBRE_AMBIENTE }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #noMovimientos>
          <p>No hay movimientos registrados para este bien.</p>
        </ng-template>
        <button class="btn btn-danger" (click)="mostrarAgregarMovimiento()">Agregar Movimiento</button>
      </div>

      <div *ngIf="showAgregarMovimiento">
        <form (ngSubmit)="guardarMovimiento()">
          <label for="ubicacion">Ubicación</label>
          <select id="ubicacion" [(ngModel)]="selectedUbicacionId" class="form-select" name="ubicacion" (change)="onUbicacionChange($event)">
            <option *ngFor="let ubicacion of ubicaciones" [ngValue]="ubicacion.ID_UBICACION">{{ ubicacion.NOMBRE }}</option>
          </select>
          <div *ngIf="showAmbienteSelect">
            <label for="ambiente">Ambiente</label>
            <select id="ambiente" [(ngModel)]="selectedAmbienteId" class="form-select" name="ambiente">
              <option *ngFor="let ambiente of ambientes" [ngValue]="ambiente.ID_AMBIENTE">{{ ambiente.NOMBRE_AMBIENTE }}</option>
            </select>
          </div>
          <label for="estado">Estado</label>
          <select id="estado" [(ngModel)]="selectedEstado" class="form-select" name="estado">
            <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
          </select>
          <button type="submit" class="btn btn-danger" [disabled]="!selectedAmbienteId">Guardar Movimiento</button>
          <button type="button" (click)="cancelarAgregarMovimiento()" class="btn btn-dark">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
